version: '2.1'
services:
  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: development
    ports:
      - '3000:3000'
    tty: true
    volumes:
      - .:/app